---
# Only the main Sass file needs front matter (the dashes are enough)

---



$base-font-family: "Nunito Sans", PT Sans Narrow, Arial, Sans-serif !default;
$base-font-weight: 800 !default;
$brand-color: rgb(144,148,152);
$background-color: rgb(14,36,52);
$text-color: rgba(255,255,255,0.73);
$grey-color-light: rgba(255,255,255,0.43);
@import "minima";

h1, h2, h3, h4, h5, h6, p, h1, h2, h3, ul, ul li {
color: rgba(255,255,255,0.89);
font-variation-settings:
"wdth" 600, // former value: 100
"YTLC" 500;
}

p, blockquote, pre,
ul, ol, dl, figure {
font-weight:600;
}
.page-content {
	border-top: 1px solid rgba(255,255,255,0.22);
}

.page-content .wrapper {
	position:relative;
}

.related-snippet_wrapper {
	position: absolute;
	width: 100%;
}

.related-snippet {
	width:1024px;
	margin: 0 auto;
}

.related-snippet_sub {
	width:240px;
	margin: 2.78em 56em;
	border-radius: 11px;
	//border:1px solid rgba(255,255,255,0.05);
	//background-color: rgba(27,48,63,0.85);
	//box-shadow:0 3px 16px rgba(0,8,18,0.62);
	backface-visibility:hidden;
	overflow: hidden;
}

.related-snippet_heading, .related-snippet_links-heading  {
	display: inline-block;
	width: 100%;
	height: 2.5em;
	padding: 14px 0px 0px 16px;
	background-color:rgba(255,255,255,0.1);
	margin-bottom: 0.58em;
}

.related-snippet_links-heading {
	background-color:rgba(0,8,26,0.6);
}

.related-snippet_contents, .related-snippet_content_links {
	padding: 0px 14px 0px 14px;
	line-height:1.56em;
}

.related-snippet_content_links p {
	color: rgba(255,255,255,0.32);
}

.site-header {
  // border-top: 5px solid $grey-color-dark;
  // border-bottom: 10px solid $grey-color-light;
  min-height: $spacing-unit * 2.442; // Former value:1.865
  margin-top: 1.44em;
   border:0; // Reset Border Attributes
}

.site-footer {
  opacity:0.22;
}

.site-title:link, .site-title:visited {
color:#FFF;
text-decoration:none;
opacity: 0.8;
cursor: pointer;
}

.site-title:hover {
color:#FFF;
text-decoration:none;
opacity: 1;
transition: opacity 0.4s;
cursor: pointer;
}

.site-title:active {
color:#FFF;
text-decoration:none;
opacity: 0.6;
cursor: pointer;
}

pre,
code {
background-color: rgba(255,255,255,0.09);
border: 1px solid rgba(255,255,255,0.19);
}

figure {
background: none;
}

.highlight {
background: rgb(30,34,41);
border: none;
}

.site-footer {
background: rgba(7,21,30,0.66);
box-shadow: 0px -8px 12px rgba(0,12,28,0.11);
border-top: 1px solid rgba(255,255,255,0.27);
}

a:link, a:visited {
color: $text-color;
}

a:hover {
color: $text-color;
}

a:active {
color: $text-color;
}

hr {
opacity: 0.44;
}

@include media-query($on-palm) {
border: grey;
    label[for="nav-trigger"] {
      background: rgb(18,24,32);
      box-shadow: 0px 5px 10px black;
    }
}

@media screen and (max-width: 1468px) {
}

@media screen and (max-width: 800px) {
}
